Treinamentos/4.handson-day-four/1.dbt-example/deploy/step_function_definition.json
{
    "StartAt": "DbtRun",
    "States": {
      "DbtRun": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "Cluster": "arn:aws:ecs:us-east-2:503147517431:cluster/teste-inter",
          "TaskDefinition": "arn:aws:ecs:us-east-2:503147517431:task-definition/dbt:1",
          "LaunchType": "FARGATE",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-62fceb18"
              ],
              "AssignPublicIp": "ENABLED",
              "SecurityGroups": [
                "sg-02bc6f23b84a5a5e7"
              ]
            }
          },
          "Overrides": {
            "ContainerOverrides": [
              {
                "Name": "dbtcontainer",
                "Command.$": "$.command_run"
              }
            ]
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 5,
            "BackoffRate": 1.5,
            "MaxAttempts": 3
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailureNotifier",
            "ResultPath": null
          }
        ],
        "Next": "DbtTest",
        "ResultPath": "$.dbt_run"
      },
      "DbtTest": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "Cluster": "arn:aws:ecs:us-east-2:503147517431:cluster/teste-inter",
          "TaskDefinition": "arn:aws:ecs:us-east-2:503147517431:task-definition/dbt:1",
          "LaunchType": "FARGATE",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-62fceb18"
              ],
              "AssignPublicIp": "ENABLED",
              "SecurityGroups": [
                "sg-02bc6f23b84a5a5e7"
              ]
            }
          },
          "Overrides": {
            "ContainerOverrides": [
              {
                "Name": "dbtcontainer",
                "Command.$": "$.command_test"
              }
            ]
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 5,
            "BackoffRate": 1.5,
            "MaxAttempts": 3
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailureNotifier",
            "ResultPath": null
          }
        ],
        "End": true,
        "ResultPath": "$.dbt_test"
      },
      "FailureNotifier": {
        "Type": "Pass",
        "Next": "Failure",
        "ResultPath": "$.notifier"
      },
      "Failure": {
        "Type": "Fail"
      }
    }
  }